*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.mainCont {
  margin-left: 40px;
}

h2, h4 {
  margin: 20px 0;
}

input {
  width: 210px;
  margin: 15px 0;
  height: 25px;
}

td, th {
  cursor: pointer;
  user-select: none;
}

button {
  width: 210px;
  margin: 15px 0;
  background: #ff1717;
  height: 38px;
  text-transform: uppercase;
  border: none;
  color: white;
  font-size: 15px;
}
